// Variables

$ssc-blue: lighten(#193441, 4%);
$ssc-olive: #d1dbbd;
$ssc-dark-olive: #91aa9d;

// Fonts

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/QHD8zigcbDB8aPfIoaupKOvvDin1pK8aKteLpeZ5c0A.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOCZ2oysoEQEeKwjgmXLRnTc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v15/W4wDsBUluyw0tK3tykhXEXYhjbSpvc47ee6xR_80Hnw.ttf) format('truetype');
}

// Base Styles

body {
  background-color: $ssc-blue;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1rem;
}

.container {
  max-width: 760px;
  margin: 20px auto;
  background-color: $ssc-olive;
  padding: 0 20px 30px;
  border-radius: 15px;
}

a {
  text-decoration: none;
  font-size: 1.1rem;
  color: $ssc-blue;
  font-weight: 700;
  border-bottom: 2px solid $ssc-olive;

  &:hover {
    text-decoration: none;
    border-bottom: 2px solid;
  }
}


// Header Styles

header {
  h1 {
    text-align:  center;
    text-transform: uppercase;
    font-size: 3rem;
  }
}

// Index Styles

.courses {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
          justify-content: space-around;

  list-style: none;
  margin: 10px 0;
  padding: 0;

  li {
    margin: 10px 5px;
  }
}


